; true:  use the url in tpDataSourceUrl as source 
; false: use the file located at tpDataSourceFile as source
useWebDataSource = true
tpDataSourceUrl =  https://some.url.json 
tpDataSourceFile =  /etc/teleporter/teleporters.json 

; IDs of required items and containers. Could differe depending on your mod version
spatialDiskName = appliedenergistics2:item.ItemSpatialStorageCell.2Cubed 
ackTokenName = minecraft:paper 
enderchestName = tile.enderchest 
spatialIoName = tile.appliedenergistics2.BlockSpatialIOPort 

; side the transposer expects the container with the disk and token to be on
; {bottom:0, top:1, north:2, south:3, west:4, east:5}
storageSide = 0

; Directory and filename where the selection, what teleporter the current computer is, is saved
saveDir = /var/lib/teleporter/ 
saveFileName = teleporterId.txt 

; Wether to start the teleporter when the computer is restartet after an unexpected shutdown
shouldAutostartAfterError = true
; Name of the system service that restarts the teleporter
autostartServiceName = teleporter_autostart 

; Seconds the sending teleporter will wait before starting the telportation
teleportDepartDelay = 3

; Seconds the target teleporter will wait before loading the player in transit
teleportArriveDelay = 3

; Seconds the sending teleporter waits for the recieving teleporter to answer
waitingForResponseTimeout = 10

; Seconds since the last time someone walked on the teleporter required
; for the arrival of a teleported player to be allowed
timeSinceLastWalkForArrival = 10

; Seconds since the last time someone walked on the teleporter required
; for the teleporter to enter sleep mode
timeSinceLastInteractForSleep = 300
; Should the teleporter enter sleep mode after some time
enableSleep = true

; Wether to update the available teleporter (from url or file) periodiclly
shouldUpdateData = true
; Seconds between updates
baseUpdateInterval = 3600
; Random jitter added / subtracted from the base intervall at random
; to avoid spamming a server with requests
maxUpdateJitter = 300

; Vertical size of the status bar. less than 3 is unusable
statusBarSize = 3

; Wether to use the list display mode.
; This replaces the touch UI with a big, seachable list.
; Intendet for very large teleporter networks
useListDisplayMode = false

; Longer teleporter names are cut off in list view
; Higher number => less space for fewer columns => less teleporter per page
listMaxNameChars = 24

; Wether to automatically switch to the list display mode
; when the there are too many teleporter for the touch UI to diplay
automaticallySwitchToList = true

; Max size of the touch UI. Making these too large
; can make the buttons very small
touchUiMaxRows = 11
touchUiMaxCols = 6
